/**
 * TODO(you): Add the CSS necessary to complete your final project.
 **/
.top {
    height: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3rem;
}
.main{
    height: 80%;
    display: flex;
    flex-direction: row;

}
.main .left{
    width: 25%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.down{
    height: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
}
.down button , .result button{
    background-color: #74beff;
    border: solid 1px #1da0ff;
    color: navy;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
}
.down button, .result button:hover{
    background-color: white;
    color: black;
}
.main .left button:hover{
    background-color: #27278b;
    color: white;
}
.main .left .button {
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    width: 85%;
    transition: all 0.5s;
    margin-top: auto;
    margin-bottom: auto;
}
.main .left .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.main .left .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.main .left .button:hover span {
    padding-right: 25px;
}
.main .left .button:hover span:after {
    opacity: 1;
    right: 0;
}
.main .right{
    width: 75%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;

}
.main .right .head{
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: solid 2px black;
    display: flex;
}
.main .right .head p{
    margin:0;
}
.main .right .body{
    height: 42.5%;
    align-content:flex-start ;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;

}
.main .right .body p{
    font-size: 1.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffc48c;
    padding: 5px;
}
body{
    margin: 0;
}
.inactive {
    display: none !important;
}
.result{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffc48c;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
iframe{
    margin-bottom:0 ;
    transform: scale(0.8);
    transform-origin:0 0;
    display: block;
}
